p {
    color: blue;
    font-size: 50px;
    /* animation-duration: 5s;
    animation-name: deslizar;
    animation-iteration-count: 2;
    animation-direction: alternate; */
    animation: 5s 2 alternate deslizar;
}

@keyframes deslizar {
    from {
        background-color: blue;
        margin-left: 100%;
        width: 200%;
    }
    50%{
        background-color: aqua;
        margin-left: 30%;
        width: 70%;
    }
    to {
        background-color: yellow;
        margin-left: 0%;
        width: 100%;
    }
}
    
div {
    width: 300px;
    height: 150px;
    background-color: brown;
}


.elemento {
    width: 300px;
    height: 150px;
    background-color: gray;
    animation-name: ejemplob;
    animation-duration: 10s;
    animation-delay:2s;
    /* animation-fill-mode: forwards; */
    animation-fill-mode: backwards;
}


@keyframes ejemplob {
    20% {
        background-color: green;
    }
    40% {
        background-color: yellow;
    }
    60% {
        background-color: red;
    }
    80% {
        background-color: black;
    }
    90% {
        background-color: blue;
    }
}

#animacion {
  width:100px;
  height:50px;
  border:1px solid lightblue;
  background: cyan;
  color: blue;
  position: relative;
  font-weight:bold;
  font-size:30px;
  padding:1%;
  animation:rotar 6s linear 1 alternate;
  border-radius:10px;
  }

@keyframes rotar {
  0% {transform: rotate(0deg);left:0px;}
  25% {transform: rotate(20deg);left:0px;}
  50% {transform: rotate(0deg);left:500px;}
  55% {transform: rotate(0deg);left:500px;}
  70% {transform: rotate(0deg);left:500px;background:gray;}
  100% {transform: rotate(-360deg);left:0px;}
  }